<p>
  <strong>Πόλη:</strong>
  <%= @destination.city %>
</p>

<p>
  <strong>Χιλιόμετρα:</strong>
  <%= @destination.km_real %>
</p>

<p>
  <strong>Χιλιόμετρα πλασματικά:</strong>
  <%= @destination.km_plasma %>
</p>

<%= link_to 'Επεξεργασία', edit_destination_path(@destination), class: 'btn btn-primary margin-top-20' %> 
<%= link_to 'Προορισμοί', destinations_path, class: 'btn btn-primary margin-top-20' %>
