<h1>Λεωφορία</h1>

<table class="table table-stripped">
  <thead>
    <tr>
      <%= content_tag :th, sort_link(@q, :number) %>
      <th>Πινακίδα</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @buses.each do |bus| %>
      <tr>
        <td><%= bus.number %></td>
        <td><%= bus.label %></td>
        <td>
          <%= link_to 'Λεωφορίο', bus, class: 'btn btn-primary btn-xs' %>
          <%= link_to 'Επεξεργασία', edit_bus_path(bus), class: 'btn btn-primary btn-xs' %>
          <%= link_to 'Διαγραφή', bus, class: 'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @buses, renderer: BootstrapPagination::Rails %>
<br>
<%= link_to 'Νέο Λεωφορίο', new_bus_path, class: 'btn btn-primary' %>
