<p id="notice"><%= notice %></p>

<p>
  <strong>Νούμερο:</strong>
  <%= @bus.number %>
</p>

<p>
  <strong>Πινακίδα:</strong>
  <%= @bus.label %>
</p>

<%= link_to 'Επεξεργασία', edit_bus_path(@bus), class: 'btn btn-primary margin-top-20' %> |
<%= link_to 'Λεωφορία', buses_path, class: 'btn btn-primary margin-top-20' %>
